*{
margin: 10px;
padding: 0;
}

body{
/* background-color: #000; */
background-image: url('/IMGS/bg.jpg');
background-size: cover;
}

p{
    text-align: right;
}

.calculator{
width: 400px;
height: 500px;
background-color: #fff;
margin: auto;
position: relative;
top: 15px;

box-shadow: 5px 5px 5px rgb(117, 122, 117);

}


.result{
      padding: 10px;
    height: 20%;
}

.history{
    height: 30%;
}

.history-value{
    color: rgb(160, 158, 158);
    
    
}

.output{
height: 60%;
font-size: larger;
font-weight: bolder;
}

.keyboard{
    height: 70%;
}

.row{
    text-align: center;
}

button{
    width: 15%;
    height: 32px;
    border: 0px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.empty{
    color: #fff;
}

.digit,.empty{
    background-color: #fff;
}


button:hover{
    transform: scale(1.15);
}